redactions = ["SECRET_*", "*_TOKEN", "*_PASSWORD"]

[env]
GITHUB_TOKEN = { value = "{{env.GITHUB_TOKEN}}", redact = true}
OCI_REGISTRY = { value = "ghcr.io" }
OCI_REGISTRY_NAMESPACE = { value = "opopops"}

[tools]
docker-cli = { version = "latest" }
helm = { version = "3" }
helm-diff = { version = "latest" }

# GiHub Tools: https://mise.jdx.dev/dev-tools/backends/github.html#github-backend
"github:docker/buildx" = { version = "latest" , bin = "docker-buildx"}
