name: Reusable release workflow

on:
  workflow_call:
    inputs:
      registry:
        description: 'Registry'
        type: string
        required: false
        default: ghcr.io
      registry-username:
        description: 'Registry username'
        type: string
        required: false
        default: ${{ github.actor }}
      registry-password:
        description: 'Registry password'
        type: string
        required: false
        default: ''
      image:
        description: 'Image name'
        type: string
        required: false
        default: opopops/${{ github.workflow }}
      tag:
        description: 'Image tag'
        type: string
        required: false
        default: 'latest'
      context:
        description: 'Config directory'
        type: string
        required: false
        default: images/${{ github.workflow }}
      file:
        description: 'Dockerfile'
        type: string
        required: false
        default: images/${{ github.workflow }}/Dockerfile
      target:
        description: 'Image target'
        type: string
        required: false
        default: ''
      platforms:
        description: 'Architectures'
        type: string
        required: false
        default: 'linux/amd64,linux/arm64'
      scan:
        description: 'Enable scan'
        type: string
        required: false
        default: 'true'

permissions:
  actions: read
  attestations: write
  contents: read
  id-token: write
  packages: write
  security-events: write

jobs:
  publish:
    runs-on: ubuntu-latest
    outputs:
      digest: ${{ steps.build.outputs.digest }}
    steps:
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: imjasonh/setup-crane@v0.4
      - uses: sigstore/cosign-installer@v4

      - name: Checkout
        uses: actions/checkout@v6

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.image }}

      - name: Login to Registry
        uses: docker/login-action@v3
        id: login-to-registry
        with:
          registry: ${{ inputs.registry }}
          username: ${{ inputs.registry-username }}
          password: ${{ inputs.registry-password || github.token }}

      - uses: docker/login-action@v3
        id: login-to-dockerhub
        with:
          registry: docker.io
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v5
        with:
          path: ${{ runner.temp }}/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.workflow }}-${{ hashFiles(format('images/{0}/*', github.workflow)) }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ github.workflow }}-

      - name: Build image
        id: build
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.file }}
          target: ${{ inputs.target }}
          platforms: linux/amd64
          cache-from: type=local,src=${{ runner.temp }}/.buildx-cache
          secrets: |
            "github_token=${{ secrets.GITHUB_TOKEN }}"
          load: true
          pull: true
          push: false
          tags: |
            localbuild/${{ inputs.image }}:${{ inputs.tag }}

      - if: ${{ inputs.scan == 'true' }}
        name: Scan image
        uses: anchore/scan-action@v7
        id: scan
        with:
          image: localbuild/${{ inputs.image }}:${{ inputs.tag }}
          cache-db: true
          fail-build: 'false'
          severity-cutoff: 'high'

      - if: ${{ inputs.scan == 'true' }}
        name: Upload scan report
        uses: github/codeql-action/upload-sarif@v4
        id: scan-report
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}

      - name: Publish image
        uses: docker/build-push-action@v6
        id: publish
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.file }}
          target: ${{ inputs.target }}
          platforms: ${{ inputs.platforms }}
          cache-from: type=local,src=${{ runner.temp }}/.buildx-cache
          cache-to: type=local,dest=${{ runner.temp }}/.buildx-cache-new,mode=max
          secrets: |
            github_token=${{ secrets.GITHUB_TOKEN }}
          pull: true
          push: true
          sbom: true
          provenance: mode=max
          tags: |
            ${{ inputs.registry }}/${{ inputs.image }}:${{ inputs.tag }}

      - name: Move cache
        run: |
          rm -rf ${{ runner.temp }}/.buildx-cache
          mv ${{ runner.temp }}/.buildx-cache-new ${{ runner.temp }}/.buildx-cache

      - name: Sign image
        id: sign
        shell: bash
        env:
          COSIGN_YES: "true"
        run: |
          cosign sign \
            --recursive \
            --oidc-provider=github-actions \
            ${{ inputs.registry }}/${{ inputs.image }}@${{ steps.publish.outputs.digest }}
